@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--corpo);
    font-family: 'Open Sans' , 'icones', sans-serif;
    color: white;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabecalho-mobile);
    padding: var(--espaco-entre-elementos);
    box-shadow: var(--sombras);
}
.cabecalho__menu i::before{
    content: "\e904";
    font-size: var(--tamanho-icones);
}
.cabecalho__notificacao i::before{
    content: "\e906";
    font-size: var(--tamanho-icones);
}
.cabecalho__logo{
    width: 40px;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: var(--cabecalho-mobile);
    width: 75vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
    transition: 0.25s;
}

.menu-lateral--ativo{
    left: 0;
    transition: 0.25s;
}

.menu-lateral .menu-lateral__logo{
    /* Alinhando apenas a imagem no centro */
    align-self: center;
    width: 118px;
    padding: 16px;
}

.menu-lateral__link{
    height: 64px;
    color: var(--fonte-alternativa);
    padding-left: 64px;
    display: flex;
    align-items: center;
}
.menu-lateral__link::before{
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}
.menu-lateral__link--ativo{
    color: var(--branco);
    padding-left: 56px;
    border-left: 8px solid var(--branco);
}

.menu-lateral__link--inicio::before{
    content: "\e902";
}
.menu-lateral__link--videos::before{
    content: "\e90e";
}
.menu-lateral__link--picos::before{
    content: "\e909";
}
.menu-lateral__link--integrantes::before{
    content: "\e903";
}
.menu-lateral__link--camisas::before{
    content: "\e900";
}
.menu-lateral__link--pinturas::before{
    content: "\e90a";
}

.principal{
    padding: 24px;
}
.titulo-pagina{
    font-size: 1.5rem;
    font-weight: 700;
}
.cartao{
    width: 100%;
    border-radius: 15px;
    /* Qualquer coisa que ultrapasse os limites da borda, esconda */
    overflow: hidden;
    background-color: var(--cartao);
}
.cartao__conteudo{
    padding: 16px;
}
.cartao__titulo{
    font-size: 1.2rem;
    font-weight: 700;
}
.cartao__perfil{
    color: var(--fonte-alternativa);
    font-size: 0.9rem;
}
.cartao__info{
    display: flex;
    align-items: center;
    color: var(--fonte-alternativa);
}
.cartao__info--tempo{
    content: "\e90c";
    margin-right: 8px;
}
.cartao__info--visualizacao{
    content: "\e90f";
    margin-right: 8px;
}
.cartao__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--botao);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
}
.cartao__botao--play::before{
    content: "\e90b";
    font-size: 24px;
}
.cartao__botao--destaque{
    width: 100%;
}
.cartao__botao--destaque::before{
    margin-right: 8px;
}

.cartao__conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}